body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 100% !important;
}

$color-one: #f5f6f8;
$color-two: #3d444b;
$color-three: #414344;
$transition: all 0.2s ease;

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}