<ul class="sub-menu">
    <li class="menu-item">
        <a class="category-link-left" href="#">
            Lorem ipsum dolor
        </a>
    </li>
    <li class="menu-item">
        <a class="category-link-left" href="#">
            Lorem ipsum dolor
        </a>
    </li>
    <li class="menu-item">
        <a class="category-link-left" href="#">
            Lorem ipsum dolor
        </a>
    </li>
    <li class="menu-item">
        <a class="category-link-left" href="#">
            Lorem ipsum dolor
        </a>
    </li>
    <li class="menu-item">
        <a class="category-link-left" href="#">
            Lorem ipsum dolor
        </a>
    </li>
    <li class="menu-item">
        <a class="category-link-left" href="#">
            Lorem ipsum dolor
        </a>
    </li>
    <li class="menu-item">
        <a class="category-link-left" href="#">
            Lorem ipsum dolor
        </a>
    </li>
    <li class="menu-item">
        <a class="category-link-left" href="#">
            Lorem ipsum dolor
        </a>
    </li>
    <li class="menu-item">
        <a class="category-link-left" href="#">
            Lorem ipsum dolor
        </a>
    </li>
    <li class="menu-item">
        <a class="category-link-left" href="#">
            Lorem ipsum dolor
        </a>
    </li>
    <li class="menu-item">
        <a class="category-link-left" href="#">
            Lorem ipsum dolor
        </a>
    </li>
    <li class="menu-item">
        <a class="category-link-left" href="#">
            Lorem ipsum dolor
        </a>
    </li>
    <li class="menu-item">
        <a class="category-link-left" href="#">
            Lorem ipsum dolor
        </a>
    </li>
    <li class="menu-item">
        <a class="category-link-left" href="#">
            Lorem ipsum dolor
        </a>
    </li>
    <li class="menu-item">
        <a class="category-link-left" href="#">
            Lorem ipsum dolor
        </a>
    </li>
    <li class="menu-item">
        <a class="category-link-left" href="#">
            Lorem ipsum dolor
        </a>
    </li>
</ul>