<div class="menu-block">
    <div class="menu-left">

        {{!-- Logo --}}
        <div class="logo">
            <a href="#">
                <img src="/src/static/assets/logo-light.png" alt="logo">
            </a>
        </div>

        {{!-- Search --}}
        <form method="get" class="search-form" action="#" autocomplete="off">
            <div class="search-side">
                <input type="search" autocomplete="off" class="search-field" placeholder="Search" value="" name="s" title="Search for:">
            </div>
        </form>

        {{!-- Public Category --}}
        <div class="menu-activated">
            <div class="os_menu">

                <ul class="menu-side-menu">
                    <li class="menu-item">
                        <a class="category-link-right" href="#">
                            Layouts
                        </a>

                        {{> common/category-item-1 }}
                    </li>

                    <li class="menu-item">
                        <a class="category-link-right" href="#">
                            Colors
                        </a>

                        {{> common/category-item-1 }}
                    </li>

                    <li class="menu-item">
                        <a class="category-link-right" href="#">
                            Pagination
                        </a>

                        {{> common/category-item-1 }}
                    </li>

                    <li class="menu-item">
                        <a class="category-link-right" href="#">
                            Menu & Sidebar
                        </a>

                        {{> common/category-item-1 }}
                    </li>

                    <li class="menu-item">
                        <a class="category-link-right" href="#">
                            Post Types
                        </a>

                        {{> common/category-item-1 }}
                    </li>

                    <li class="menu-item">
                        <a class="category-link-right" href="#">
                            Pages
                        </a>

                        {{> common/category-item-1 }}
                    </li>

                    <li class="menu-item">
                        <a class="category-link-right" href="#">
                            User Features
                        </a>

                        {{> common/category-item-1 }}
                    </li>

                </ul>

            </div>
        </div>

        

    </div>
</div>